@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(#FFFFFF, #F9F6EE);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.div-logo {
  float: right;
  padding-right: 2%;
}

.logo {
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.05);
}

header {
  text-align: center;
}

.contenido {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}

// BARRA DE NAVEGACIÓN

.topnav {
  float: left;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 17px;
  transition: transform .1s;
  margin-top: 3%
}

.topnav a:hover {
  transform: scale(1.050);
  color: rgb(140, 0, 255);
}

.topnav a.active {
  font-size: 25px;
  color: rgb(203, 0, 180);
  margin-top: 2%;
}

.imagen_icono {
  text-align: center;
  margin-left: 45%;
}

.estado0 {
  color: rgb(86, 86, 86);
}

.estado01 {
  color: rgb(255, 178, 36);
}

.estado02 {
  color: rgb(38, 238, 38);
}

footer {
  text-align: center;
  margin-top: auto;
}