@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  text-align: justify;
  background-image: linear-gradient(#FFFFFF, #F9F6EE);
  min-height: 100vh;
}

// BARRA DE NAVEGACIÓN

.topnav {
  float: left;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 17px;
  transition: transform .1s;
  margin-top: 3%
}

.topnav a:hover {
  transform: scale(1.050);
  color: rgb(140, 0, 255);
}

.topnav a.active {
  font-size: 25px;
  color: rgb(203, 0, 180);
  margin-top: 2%;
}

.div-logo {
  float: right;
  padding-right: 2%;
}

.logo {
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.05);
}

.contenido_principal {  
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}

.contenido {  
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  background-color: rgb(140, 0, 255);
}

.contenido_centrado {
 text-align: center;
 background-color: rgba(255, 255, 255, 0.8);
 padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: rgb(140, 0, 255);
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1%;
  font-size: 20px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  transition: transform .2s;
}

.item1:hover {
  color: #4d4d4d;
}

.estado0 {
  color: rgb(86, 86, 86);
}

.estado01 {
  color: rgb(255, 178, 36);
}

.estado02 {
  color: rgb(38, 238, 38);
}

.a_empezar {
  text-decoration: none;
  color: rgb(140, 0, 255);
  background-color: #ffffff;
  padding: 0.5%;
  border: solid black;
}


footer {
  text-align: center;
  margin-top: auto;
}